<div class="container">
  <div class="row">
    <div class="col">
      <div class="top-visual mx-auto mt-5">
        <p class="text-back mx-auto px-1 py-4">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
  <div class="row offset-1">
    <div class="col mt-5">
      <h2>新着商品</h2>
    </div>
  </div>
  <div class="row offset-1 d-flex align-items-start">
    <% @new_products.first(4).each do |product| %>
    <div class="col-md-3">
      <%= link_to product_path(product.id) do %>
        <%= attachment_image_tag(product, :image_id, :fill, 250, 180,  fallback: "no_image.jpg", size:'250x180') %><br>
      <% end %>
      <%= link_to product_path(product.id) do %>
      <%= product.name %><br>
      <% end %>
      ￥<%= ((product.price * 1.1).to_i).to_s(:deliminated) %><br>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col offset-10 mt-3">
      <%= link_to "全ての商品を見る＞", products_path %>
    </div>
  </div>
</div>