<div class="container">

  <h3><mark>配送先編集</mark></h3>

  <div class="row">
    <%= form_with model: @address, url: address_path(@address), local: true do |f| %>
      <%= f.label "郵便番号(ハイフンなし)", class: "col-2 mr-3" %>
      <%= f.text_field :porstal_code, autocomplete: "porstal_code" %>

      <%= f.label "住所", class: "col-2 mr-3" %>
      <%= f.text_field :address, autocomplete: "address"%>

      <%= f.label "宛名" %>
      <%= f.text_field :name, autocomplete: "name"%>
      <%= f.submit "変更内容を保存", class: "btn btn-success", class: "btn btn-success" %>
    <% end %>
  </div>
</div>