<h2>注文情報確認</h2>
<table class="table table-bordered">
  <tr>
    <td>商品名</td>
    <td>値段（税込）</td>
    <td>数量</td>
    <td>小計</td>
  </tr>
  <% @sum = 0 %>
  <% @cart_products.each do |cart_product| %>
  <tr>
    <td><%= cart_product.product.name %></td>
    <td><%= ((cart_product.product.price * 1.1).to_i).to_s(:deliminated) %></td>
    <td><%= cart_product.quantity %></td>
    <% @sum += cart_product.product.price * cart_product.quantity %>
    <td><%= ((cart_product.product.price * 1.1).to_i*(cart_product.quantity).to_i).to_s(:deliminated) %></td>
  </tr>
  <% end %>
</table>
<table class="table table-bordered">
  <tr>
    <td>送料</td>
    <td>商品合計</td>
    <td>請求金額</td>
  </tr>
  <tr>
    <td>800</td>
    <td><%= @order.charge %></td>
    <td><%= (@order.charge + 800 ) %></td>
  </tr>
</table>

<h4>支払方法</h4>
<p><%= @order.payment_method %></p>

<h4>お届け先</h4>
<p>
  〒<%= @order.porstal_code %> <%= @order.address %><br>
  <%= @order.name %>
</p>
<%= link_to "注文を確定する", order_complete_path, class:"btn btn-success" %>