
<div class=container>

    <table class="table table-bordered">
      <h3>注文履歴</h3>
      <thead>
        <tr>
          <td>注文日</td>
          <td>配送先</td>
          <td>注文商品</td>
          <td>支払い金額</td>
          <td>ステータス</td>
          <td>注文詳細</td>
        </tr>
      </thead>
      <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td>
            <%= order.creatd_at %>
          </td>
          <td>
            <%= order.porstal_code %>
            <%= order.address  %>
            <%= order.name %>
          </td>
          <% order.order_details.each do |order_detail| %>
          <td>
            <%= order_detail.product.name %>
          </td>
          <td>
            <%= order_detail.product.price %>
          </td>
          <% end %>
          <td>
            <%= order.order_status %>
          </td>
          <td>
            <%= link_to "注文詳細", order_path(order),class: "btn btn-primary" %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>

</div>