<div class="container">
  <h1 >商品詳細</h1>
  <div class="row">
    <div class="mt-5 col-md-5">
        <span><%= attachment_image_tag @product, :image_id, format: 'jpeg', fallback: 'no_image.jpg', size:'300x200'%></sapn>
    </div>
    <div class="mt-5 col-md-5 table-bordered">
      <div class="row">
        <p class="col-md-4 admin-item-title">商品名:</p>
        <p class="col-md-8"><%= @product.name %></p>
      </div>
      <div class="row">
        <p class="col-md-4">商品説明:</p>
        <p class="col-md-8"><%= @product.describe %></p>
      </div>
      <div class="row">
        <p class="col-md-4">ジャンル:</p>
        <p class="col-md-8"><%= @product.genre.name %></p>
      </div>
      <div class="row">
        <p class="col-md-4">税込価格<br>(税抜価格)</p>
        <p class="col-md-8 admin-item-price"><%= @include_tax_price.to_s(:delimited) %>円(<%= @product.price.to_s(:delimited) %>円)</p>
      </div>                                                              <!--数字の3桁区切りコマンド-->
      <div class="row">
        <p class="col-md-4">販売ステータス</p>
          <p class="col-md-8">
            <% if @product.is_active == true %>
              <strong><span class="text-success">販売中</span></strong>
            <% elsif @product.is_active == false %>
              <strong><span class="text-muted">販売停止中</span></strong>
            <% end %>
          </p>
      </div>
          <%= link_to "編集する", edit_admins_product_path(@product.id), class: "btn btn-success btn-lg pull-right" %>
    </div>
  </div>
</div>
