 <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand mt-2" href="/"><%= image_tag "tokaw.png" ,size:"275x30" %></a>
      <button class="navbar-toggler" type="button" data-tuggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
          <% if customer_signed_in? %>
          <li class="nav-item mr-4">
            <span class="navbar-text text-light">ようこそ！<%= current_customer.last_name %>さん🧁</span>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "マイページ",customer_path(current_customer.id), class: 'btn btn-secondary btn-lg' %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "商品一覧", products_path, class: 'btn btn-secondary btn-lg' %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "カート", cart_products_path, class: 'btn btn-secondary btn-lg' %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "ログアウト",destroy_customer_session_path, method: :delete, class: 'btn btn-secondary btn-lg' %>
          </li>
          <% elsif admin_signed_in? %>
          <li class="nav-item mr-4">
            <%= link_to "商品一覧", admins_products_path, class: 'btn btn-outline-dark btn-lg' %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "会員一覧", admins_customers_path, class: 'btn btn-outline-dark btn-lg' %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "注文履歴一覧", admins_orders_path, class: 'btn btn-outline-dark btn-lg' %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "ジャンル一覧", admins_genres_path, class: 'btn btn-outline-dark btn-lg' %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "ログアウト",destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark btn-lg' %>
          </li>
          <% else %>
          <li class="nav-item mr-4">
            <%= link_to "About", home_about_path, class: 'btn btn-outline-dark btn-lg' %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "商品一覧", products_path, class: 'btn btn-outline-dark btn-lg' %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "新規登録",new_customer_registration_path, class: 'btn btn-outline-dark btn-lg' %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "ログイン",new_customer_session_path, class: 'btn btn-outline-dark btn-lg' %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>